<!-- <footer class="footer bg-dark py-3 mt-auto"> -->
<footer class="footer py-3 mt-auto" style="background-color: #60777f;">
    <div class="container">
        <span class="text-light">&copy; AcademiX 2023 | Maxat Kerimbayev</span>
    </div>

</footer>