<% layout('layouts/boilerplate') %>


  <div class="banner" >
    <div class="container">
      <h1 class="font-weight-semibold mb-2">Supercharge your academic journey with AcademiX. </h1>
      <h6 class="font-weight-normal text-muted pb-3 mt-5"><b>Connect. Collaborate. Conquer. </b>Your launchpad to academic success.</h6>
      <h6 class="font-weight-normal text-muted pb-3"><b>From good grades to great connections. </b> Build your network and future.</h6>
      <h6 class="font-weight-normal text-muted pb-3"><b>Don't just learn, get noticed. </b> Stand out from the crowd on AcademiX, the student hub</h6>
      <img src="images/Group171.svg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="content-wrapper mt-5">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>How does it works</h2>
          <h6 class="section-subtitle text-muted mt-5">One theme that serves as an easy-to-use operational toolkit<br>that meets customer's needs.</h6>
        </div>
        <div class="d-md-flex justify-content-center mt-5">
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="images/Group12.svg" alt="" class="img-icons">
              <h5 class="py-3">Inspire the next<br> Generation</h5>
              <p class="text-muted"> Where professors connect and thrive.</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="images/Group7.svg" alt="" class="img-icons">
              <h5 class="py-3">Research, collaborate<br> and be heard</h5>
              <p class="text-muted"> Your platform for academic impact.</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="images/Group5.svg" alt="" class="img-icons">
              <h5 class="py-3">Beyond the classroom<br> Beyond the campus</h5>
              <p class="text-muted"> Connect with colleagues and global minds.</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="images/Group12.svg" alt="" class="img-icons">
              <h5 class="py-3">Mentorship redefined.<br> Collaboration unleashed.</h5>
              <p class="text-muted"> Empowering professors to shape the future.</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="images/Group7.svg" alt="" class="img-icons">
              <h5 class="py-3">Attract the best.<br> Equip the brightest.</h5>
              <p class="text-muted"> Your gateway to top talent and cutting-edge research.</p>
            </div>
          </div>
      </section>

      <section class="digital-marketing-service mt-5" id="digital-marketing-section">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
            <h3 class="m-0">Building the future of learning,<br> one connection at a time.</h3>
            <div class="col-lg-7 col-xl-6 p-0">
              <p class="py-4 m-0 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
              <p class="font-weight-medium text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer</p>
            </div>    
          </div>
          <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
            <img src="images/Group1.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
            <img src="images/Group2.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
            <h3 class="m-0">We Offer a Full Range<br>of Educational Services!</h3>
            <div class="col-lg-9 col-xl-8 p-0">
              <p class="py-4 m-0 text-muted">Power-packed with impressive features and well-optimized, this template is designed to provide the best performance in all circumstances.</p>
              <p class="pb-2 font-weight-medium text-muted">Its smart features make it a powerful stand-alone website building tool.</p>
            </div>
          </div>
        </div>
      </section>     
      <section class="case-studies" id="case-studies-section">
        <div class="row grid-margin">
          <div class="col-12 text-center pb-5">
            <h2>Our use cases</h2>
          </div>
          
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-violet text-center card-contents">
                  <div class="card-image">
                    <img src="images/Group115.svg" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-black pb-2 px-4 mt-2"><b>Professors</b></h6>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Research collaboration</h6>
                    <h6 class="m-0 pb-1">Mentorship</h6>
                    <h6 class="m-0 pb-1">Promote courses and lectures</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-violet text-center card-contents">
                  <div class="card-image">
                    <img src="images/Group126.svg" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-black pb-2 px-4 mt-2"><b>Universities</b></h6>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Recruitment</h6>
                    <h6 class="m-0 pb-1">Collaboration</h6>
                    <h6 class="m-0 pb-1">Alumni engagement</h6>
                    <h6 class="m-0 pb-1">Knowledge sharing</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-violet text-center card-contents">
                  <div class="card-image">
                    <img src="images/Group108.svg" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-black pb-2 px-4 mt-2"><b>Students</b></h6>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Recruitment</h6>
                    <h6 class="m-0 pb-1">Collaboration</h6>
                    <h6 class="m-0 pb-1">Alumni engagement</h6>
                    <h6 class="m-0 pb-1">Knowledge sharing</h6>
                </div>
              </div>
            </div>
          </div>
          
          
          
      </section>     
      <section class="customer-feedback mt-5" id="feedback-section">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h2>The world is your classroom. AcademiX is your key.</h2>
          </div>
        </div>
      </section>

      
    </div> 
  </div>
